.hero{
    background: url('https://static.pexels.com/photos/594233/pexels-photo-594233.jpeg');
    background-repeat: no-repeat;
}
.hide{
    display: none;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
    content: "";
    z-index: 0;
    background: none repeat #1d2124;
    opacity: 0.9;

}
.sharehover{
    display: none;
}